/* =================================
  Flexbox
==================================== */


.container {
  display:flex;
  height: 280px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.item{
  /*flex-grow: 1;
  flex-basis: 200px;*/

  flex: 1 200px;
}
